.container {
    position: relative;
  }

  .projects {
    color: dodgerblue;
    text-align: center;
    font-size: 55px;
    position: absolute;
    top: 20%;
    left: 22%;
    height: auto;
    width: 60%;
    background: rgba(0, 0, 0, 0.75);
    text-shadow: 2px 2px 4px #000000;
}

.link {
    text-decoration: none;
    color: dodgerblue;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
}

.link:hover {
    color: red;
    font-size: 35px;
}